html,
body {
    background-color: #fff;
    box-sizing: border-box;
    color: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    color: #08c;
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: underline;
}
h1 {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 16px;
    margin-top: 0;
}
@media (min-width: 966px) {
    h1 {
        font-size: 48px;
    }
}
h2 {
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 16px;
    padding: 0;
}
p {
    text-align: left;
    line-height: 1.65;
}
.text-right {
    text-align: right;
}
nav {
    line-height: 48px;
    min-height: 48px;
    min-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
@media (max-width: 768px) {
    nav {
        font-size: 14px;
    }
}
.nav-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.size-m {
  font-size: 21px;
}
html.ie-legacy .nav-content {
    min-width: 430px;
}
html.ie-legacy .nav-content>ul.right {
    float: right;
}
nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul:first-child {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
nav li {
    display: inline-block;
}
nav a,
nav a:visited {
    color: inherit;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
}
nav a:focus {
    color: #08c;
    text-decoration: none;
}
nav a:hover,
nav a:visited:hover {
    opacity: 0.7;
}
@media only screen and (max-width: 430px) {
    html.ie-legacy nav {
        overflow-x: scroll;
        white-space: nowrap;
    }
    html.ie-legacy .nav-content {
        overflow: visible;
        white-space: nowrap;
        width: 430px;
    }
    html.ie-legacy .nav-content>.right {
        float: left;
    }
}
body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.app-display-preview {
  text-align: center;
  padding: 20px;
}
.grid {
    margin: 0 auto;
    max-width: 1200px;
    padding: 32px 0;
    text-align: center;
    width: auto;
}
.grid>* {
    margin: 16px;
}
.grid .grid {
    padding: 0;
}
.grid .whole {
    display: block;
}
@media only screen and (min-width: 640px) {
    .grid .third {
        width: calc(33.33% - 32px);
        display: inline-block;
        vertical-align: top;
        margin-right: 16px;
    }
    .grid .third:last-child {
        margin-left: 16px;
        margin-right: 0;
    }
    .grid *:only-child p {
        text-align: center;
    }
}
.third h3,
.third p {
    text-align: center;
}
a.third {
    color: inherit;
}
a.third:hover {
    color: #08c;
}
.third .fa {
    font-size: 32px;
    text-align: center;
    display: block;
}
.icon {
    position: relative;
    text-align: center;
}
@media (min-width: 444px) {
    .icon {
        position: absolute;
    }
    .icon-text {
        padding-left: 88px;
    }
}
button,
.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0px;
    color: #333;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    margin: 24px;
    outline: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .4);
    transition: all 100ms ease-in;
}
button,
.button {
    display: inline-block;
}
button:focus,
.button:focus {
    border-color: rgba(77, 156, 209, .8);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 3px 6px rgba(12, 128, 200, .16), 0 3px 6px rgba(12, 128, 200, .23);
    text-decoration: none;
}
button:active,
.button:active {
    background-color: rgba(0, 0, 0, .05);
    background-image: none;
    border-color: rgba(0, 0, 0, .25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05), 0 1px 0 0 rgba(255, 255, 255, .3);
}
button.suggested-action,
.button.suggested-action {
    background-color: #2d316b;
    background-image: linear-gradient(to bottom, rgba(89, 94, 157, 0.95), #8582C2);
    border-color: #8582C2;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, .3);
}
.button.flat {
    background: none;
    border-width: 2px;
    box-shadow: none;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 10px;
    min-width: 250px;
    padding: 7px;
    text-shadow: none;
}
.button::-webkit-input-placeholder {
    color: #333;
}
.button::-moz-placeholder {
    color: #333;
}
.button:-ms-input-placeholder {
    color: #333;
}
.button::placeholder {
    color: #333;
}
.grey {
    background-color: #fafafa;
}
@media print {
    nav {
        display: none;
    }
}